{% extends _layout %}

{% block STYLES %}
<style type="text/css" media="screen">
#example_length .form-control{
    padding: 0;
}
</style>

{% endblock %}

{% block CONTENT %}

<div id="main-content" class="dashboard">
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3><strong>Danh sách trận đấu</strong></h3>
    </div>
    
    
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-list-alt"></span></th>
                    <th>Loại</th>
                    <th>Trạng thái</th>
                    <th>Đội nhà</th>
                    <th>Đội khách</th>
                    <th>Giải đấu</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                    <tr>
                        <td></td>
                        <td>
                            {% if item.Type == 1 %}
                                <span style="color: red; font-weight: bold;">Trả phí
                            {% else %}
                                <span style="color: #c6c6c6;">Miễn phí</span>
                            {% endif %}
                        </td>
                        <td>

                            {% set _datelive = getTimeGMT7(item.StartDate) %}
                            {% if _datelive > (getTimeGMT7() - 7800) and _datelive <= getTimeGMT7() %}
                                <a target="_blank" class="btnxem btn btn-sm btn-warning" title="{{item.TeamHome_name}} vs {{item.TeamAway_name}}" href="{{site_url('truc-tiep-bong-da')}}/{{item.LiveMatchId}}/{{item.Slug}}">Trực tiếp</a>
                                {{_datelive|date("H:i d/m/Y")}}
                            {% else %}
                                {{_datelive|date("H:i d/m/Y")}}
                            {% endif %}
                        </td>
                        <td>{{item.TeamHome_name}}</td>
                        <td>{{item.TeamAway_name}}</td>
                        <td>{{item.Tournament_name}}</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{{site_url('/backend/ManagerLinks/editlivematch')~'/'~item.LiveMatchId}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            {% if item.Status == 1 %}
                                <a class="btn btn-default btn-sm lhidden" ref="{{item.LiveMatchId}}" href="javascript:void(0);">Hidden</a>
                            {% else %}
                                <a class="btn btn-default btn-sm lshow" ref="{{item.LiveMatchId}}" href="javascript:void(0);">Show</a>
                            {% endif %}
                            
                            {# <a class="btn btn-default btn-sm" href="" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{# hidden item #}

{# end hidden item #}

{% endblock %}

{% block SCRIPTS %}

<!-- BEGIN PAGE LEVEL SCRIPTS -->

<link rel="stylesheet" type="text/css" href="{{ assets_folder }}/plugins/SweetAlert/sweetalert.css"/>
<script src="{{ assets_folder }}/plugins/SweetAlert/sweetalert.min.js"></script>

<script src="{{ assets_folder }}/plugins/parsley/parsley.js"></script>
<script src="{{ assets_folder }}/plugins/parsley/parsley.extend.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var t = $('#example').DataTable(
    {
        //"paging": false,
        // "order": [[ 1, 'asc' ]],
        "columnDefs": [
            {
                bSortable: false,
                aTargets: [ -1 ]
            },
            {
                bSortable: false,
                aTargets: [ 0 ]
            }
        ]
        ,"buttons": [
        {
            text: 'Add',
            action: function ( e, dt, node, config ) {
                //swal({
                // title: "HTML <small>Title</small>!",
                // text: "A custom <span style=\"color:#F8BB86\">html<span> message.",
                // html: true,
                //animation: false,
                //showConfirmButton: true
                //});
                window.location = "{{base_url}}/backend/ManagerLinks/addlivematch";
                // $.pgwModal({
                //     target: '#modal-add',
                //     title : 'Please input',
                //     closeOnBackgroundClick : false,
                // });
            }
        },
        //'copy',
        'excel'
        ],
    });

    t.buttons().container().appendTo( '#example_wrapper .col-sm-6:eq(0)' );

    //add count
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $(document).on("click", ".lhidden", function() {
        var clicked = $(this);
        var id =clicked.attr('ref');

        $.ajax({
            type: "POST",
            url: "{{site_url('backend/ManagerLinks/ajaxhiddematch')}}",
            data: { linkid: id },
            //beforeSend: function (data) {
                //b.html("<img class='ajax' src='{{ public_url }}themes/default/img/loading.gif' alt='loading..' />");
            //}
            }).done(function( msg ) {
                //b.html("");
                if(msg != 'FALSE')
                {
                    swal("hidden finished!");
                    clicked.removeClass('lhidden');
                    clicked.addClass('lshow');
                    clicked.html('Show');
                }else{
                    swal("Có lỗi. bạn nên thử lại sau ít phút.");
                }
        });
    });

    $(document).on("click", ".lshow", function() {
        var clicked = $(this);
        var id =clicked.attr('ref');
            $.ajax({
            type: "POST",
            url: "{{site_url('backend/ManagerLinks/ajaxshowmatch')}}",
            data: { linkid: id },
            //beforeSend: function (data) {
                //b.html("<img class='ajax' src='{{ public_url }}themes/default/img/loading.gif' alt='loading..' />");
            //}
            }).done(function( msg ) {
                //b.html("");
                if(msg != 'FALSE')
                {
                    swal("show finished!");
                    clicked.removeClass('lshow');
                    clicked.addClass('lhidden');
                    clicked.html('Hidden');
                }else{
                    swal("Có lỗi. bạn nên thử lại sau ít phút.");
                }
        });
    });
});
</script>
<!-- END PAGE LEVEL SCRIPTS -->

{% endblock %}